@charset "utf-8";
*{
  box-sizing: border-box;
  margin: 0;
  font-weight: bold;
}



h1{
  font-family: fantasy;
  background-color: rgba(193, 248, 207, 0.842);
  text-align: center;
  color: white;
  padding: 8px;
}

header ul{
  list-style: none;
  line-height: 2;
  font-size: 16px;
  text-align: center;
  background-color: rgb(171, 252, 225);
  width: 50%;
  border-radius: 10px;
  margin: 40px auto;
}

main{
  background-color: rgb(172, 243, 170);
}
main img{
  object-fit: cover;
  width: 300px;
  height: 200px;
}